<!DOCTYPE html>
<html>
<head>
	<title>display puppy</title>
</head>
<body>
	
 <p>Puppy Name:</p><br>
 <p><%=@name %></p>
 <p>Puppy Breed:</p><br>
 <p><%=@breed %></p>
 <p>Puppy Age:</p><br>
 <p><%=@age %></p>
</body>
</html>